<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ModelCarServiceContainer"
         connectionString="metadata=res://*/ModelCarService.csdl|res://*/ModelCarService.ssdl|res://*/ModelCarService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=0CHISOR-A10\SQLEXPRESS;initial catalog=CarServiceDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WCFService.CarService" behaviorConfiguration="metadataSupport">

        <endpoint address="http://localhost:8000/WCFService/CarService"
                  binding="basicHttpBinding"
                  contract="WCFService.ICarService"
                  name="BasicHttpBinding_ICarService">

          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"
                  name="mexhttp"/>
          
       
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name ="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>